body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{box-sizing: border-box;}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root{
  --anim-duration: 100ms;
  --header-height: 100px;
}
.App{position: relative;}
/****** header  ******/
.header{width: 100%;position: fixed;background-color: rgba(255, 255, 255, 0);z-index: 1000;transition: background-color 0.3s, box-shadow 0.3s;transition: transform calc(var(--anim-duration)* 6) cubic-bezier(.165,.84,.44,1), background calc(var(--anim-duration)* 3);letter-spacing: 0.05em;}
.header.white .depth1,.header.white .depth2 a{color: #fff;}
.header.white.hover .depth1,.header.white.hover .depth2 a{color: #000;}
.header.white.hover:hover .depth2 a:hover{color: blue;}
.header.white.fixed .depth1,.header.white.fixed .depth2 a{color: #000;}
.header.white::before{background: #ffffffc7;;}
.header::before{content: "";position: absolute;top: 0;left: 0;right: 0;background: rgb(20 38 129 / 78%);height: var(--header-bg-height, 0%);opacity: var(--header-bg-opacity, 1);transition: height calc(var(--anim-duration)* 5) cubic-bezier(.23,1,.32,1), opacity calc(var(--anim-duration)* 3);transition-delay: calc(var(--anim-duration)* 1);}
.header.hover::before {height: calc(var(--depth2-height, 100%)) !important; opacity: 1;}
.header.fixed::before{height: var(--header-bg-height, 100%);box-shadow: 0px 4px 10px rgb(9 26 70 / 78%);}
.header .container{padding: 0 clamp(40px, 3.125vw, 80px);margin: 0 auto;}
.header .header-content{width: 100%;max-width: 192rem;display: flex;justify-content: center;margin: auto;position: relative;height: var(--header-height, 100px);}
.header .logo{position: absolute;top: 50%;transform: translateY(-50%);left: 0;}
.header .depth1{line-height: 6rem;font-weight: 700;padding-bottom: 0px;transition: color 0.3s ease; font-size:18px;}
.header a{text-decoration: none; color: #fff;}
.header .nav .gnb{display: flex;}
.header .nav ul{list-style-type: none;padding: 0;margin: 0;gap: 7.1333333333em;}
.header .depth2 ul{gap: .4333333333em; display: grid;place-items: start;}
.header .depth2 ul a{white-space: nowrap;}
.header .gnb > li{position: relative;}
.header .depth2{position: absolute;opacity: 0;visibility: hidden;transition: opacity 0.3s ease, visibility 0.3s ease;left: 0;
  transform: translateY(0em);
  transition: opacity calc(var(--anim-duration)* 3), 
  visibility calc(var(--anim-duration)* 3), 
  transform calc(var(--anim-duration)* 5) cubic-bezier(.19,1,.22,1);
}
.depth2.hover{opacity: 1 !important; visibility: visible;}
.header .depth2 li{display: inline-flex;}
.gnb .depth1[aria-expanded="true"] + .depth2 {opacity: 1;visibility: visible;transform: translateY(-1.6em);}
.gnb .depth1[aria-expanded="true"] .subcontent {height: calc(var(--depth2-height, 100%));}
.depth1.hover, .depth2.hover {color: #007bff !important; }
.depth1.underline::after {content: "";position: absolute;bottom: 0; left: 0;width: 100%;height: 2px; background-color: #007bff;animation: underlineEnter 0.3s forwards; transform: translateY(-2em);}
.depth2 a{transition: color 0.3s ease;}
.depth2 a:hover{color: #007bff !important;}
@keyframes underlineEnter {
  from {
    width: 100%;
    left: 0;
  }
  to {
    width: 0;
    left: 100%;
  }
}

@keyframes underlineExit {
  from {
    width: 0;
    left: 100%;
  }
  to {
    
    width: 100%;
    left: 0;
  }
}

/****** main ******/
.main .main_wrap{position: relative !important;width: 140rem;padding-bottom: 9rem;max-width: calc(100% - 4rem);margin-right: auto;margin-left: auto;position: relative;}
.main .section{padding: 5.6rem 0 5rem;}
.main .section.visual2{padding: 5.6rem 0 0rem;padding-top: 0;}
.main .visual1{width: 100%;display: flex;align-items: center;justify-content: space-between;}
.main .visual1 .about{display: flex;max-width: 32.5rem;align-items: center;text-align: left;}
.main .visual1 .about-l h1{font-size: 3rem;text-align: left;font-weight: 900;}
.main .visual1 .about-text{padding-left: 1.1rem;}
.main .visual1 .about-text h2{margin: 0; font-size: 1.8rem;}
.main .visual1 .about-text p{font-size: 1.2rem;margin-top: 0.5rem;font-weight: 500;}
.main .visual1 img{display: block;}
.main .visual1 .about-img{position: relative;padding: 1.2rem;}
.main .visual1 .about-img::before{animation: rotate 20s infinite linear;content: "";position: absolute;left: 0;top: 0;width: 100%;height: 100%;background-size: contain;background: url(../src/images/img_sec1_2.png) no-repeat center;}
.main .motion{opacity: 0;position: relative;transition: all .8s ease;transform: translateY(3rem);}
.main .section.action{top: 0;opacity: 1;transform: translateY(0);}
.blue{color: #007bff;}
@keyframes rotate{
  100%{transform:rotate(360deg)}
}


.main .visual2 ul{list-style-type: none;padding: 0;display: flex;justify-content: space-around;}
.main .visual2 ul li{list-style-type: none;transition: all 0.3s ease;margin-right: 0.8rem;width: calc(25% - 2.8rem);width: 25%;border-radius: 1rem;}
.main .visual2 ul li:hover {transform: translateY(-2rem);box-shadow: 0px 4px 10px rgb(9 26 70 / 78%);border-radius: 1rem;}
.main .visual2 ul li:hover .item {color: #fff;border-radius: 1rem;}
.main .visual2 ul li:hover .desc strong {color: #fff;position: relative;}
.main .visual2 ul li:hover .desc strong::after{content: "";position: absolute;bottom: -2.7rem; left: 0;width: 100%;height: 2px; background-color: #007bff;animation: underlineEnter 0.3s forwards; transform: translateY(-2em);}
.main .visual2 ul li:hover .desc p {color: #e0e0e0;}
.main .visual2 ul li:hover .icon {background: #e0e0e0;}
.main .visual2 a{text-decoration: none;}
.main .visual2 .item{display: flex; align-items: flex-end;}
.main .visual2 .item {display: flex;height: 100%;padding: 2.1rem 1.1rem;background: #F4F6F8;border-radius: 1rem;align-items: center;transition: all 0.3s ease;}
.main .visual2 ul li:hover .item {background-color: #007bff;border-radius: 1rem;}
.main .visual2 .desc{padding-left: 1.7rem;letter-spacing: -.05rem;text-align: left;}
.main .visual2 .icon{width: 6.6rem;height: 6.6rem;border-radius: 100%;overflow: hidden;background: #fff;flex-shrink: 0;}
.main .visual2 img{max-width: 100%;border: 0 none;font-size: 0;vertical-align: middle;position: relative;top: 0.7rem;}
.main .visual2 .desc strong{display: inline-block;position: relative;font-size: 1.4rem;font-weight: 800;color: #000;transition: all .2s;}
.main .visual2 .desc p{margin-top: 0.5rem;color: #4D4D4D;line-height: 1.6rem;font-size: 1.1rem;transition: all .2s;}
.main .visual2 li{margin-right: 3.2rem;width: calc(25% - 2.8rem);}


.main .section.visual3{display: flex;align-items: baseline;justify-content: space-between;}
.main .section.visual3 .noitce{border: 0.07rem solid #e2e2e2; padding: 1rem 2rem;border-radius: 1rem;}
.main .section.visual3 .noitce ul{display: grid;gap: 1.5rem;}
.main .section.visual3 .noitce ul li{padding: 0 6rem 1.2rem 0; border-bottom: 0.07rem dashed #e2e2e2;}
.main .section.visual3 .noitce h4{text-align: left;}
.main .section.visual3 .noitce em{background: green;padding: 0.3rem 0.4rem;color: #fff; font-weight: 600;border-radius: 1rem;}
.main .section.visual3 ul{list-style-type: none;padding: 0;}
.main .section.visual3 .noitce a{text-decoration: none;color: #000;}

@media (max-width: 1024px) {
  .main .visual2 ul {
      flex-wrap: wrap !important;
  }
}
@media (max-width: 1024px) {
  .main .visual2 li {
      width: calc(49% - 2.8rem) !important;
      margin-top: 1rem;
  }
  .main .visual2 ul li:hover {transform: translateY(-0.6rem);}
}
/****** notice ******/
.notice{width: 140rem;max-width: calc(100% - 4rem);margin-right: auto; margin-left: auto;position: relative;}
.notice .main_wrap{position: relative;width: 140rem;padding-bottom: 9rem;max-width: calc(100% - 4rem);margin-right: auto;margin-left: auto;position: relative;}
.notice .visual{position: relative;height: 26.3rem;margin-bottom: 5rem;color: #fff;text-align: left;}
.notice .img{width: 100vw; height: 100%;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);display: block;overflow: hidden;}
.notice .img img{max-width: inherit;width: 100%;height: 100%;object-fit: cover;transform: scale(1.1);animation: visual_scale 7s; animation-fill-mode: forwards;}
@keyframes visual_scale {
  100%{transform:scale(1)}
}
/****** footer ******/
.footer {position: relative; width: 100%;background-color: #333; color: white;text-align: center;padding: 20px 0;}
.footer .main_wrap{position: relative;width: 140rem;max-width: calc(100% - 4rem);margin-right: auto;margin-left: auto;position: relative;}
.footer .f-top{display: flex;align-items: center;justify-content: space-between;border-bottom: 1px solid #fff;padding: 1.4rem 0;}
.footer .t-top-l{font-weight: 700;font-size: 1.6rem;}
.footer .t-top-r{display: flex;gap: 1rem;font-size: 1.8rem;}
.footer .f-bottom{text-align: left;}
.footer .f-bottom p {margin-bottom: 0;}
.footer .f-bottom span{position: relative;padding-right: 3px;padding-right: 2rem;}
.footer .f-bottom span:not(:nth-child(4))::before{position: absolute;content: "";height: 100%;border-right: 1px solid #fff;right: 0.8rem;}
.footer .copyright{text-align: left;padding: 3rem 0 0 0;color: rgba(255, 255, 255, 0.4);font-size: 0.8rem;}
.footer a{color: #fff;}
.footer .pwr{font-size: 0.8rem;}
